<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#"><i class="fa fa-gamepad"></i> <span>Games</span></a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-check-square-o"></i><span>Today's Games</span><span class="pull-right-container"><span class="label label-primary pull-right">4</span></span></a></li>
                    <li><a href="#"><i class="fa fa-calendar"></i><span>Other Games</span><span class="pull-right-container"></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-shield"></i> <span>Teams</span><span class="pull-right-container"></span></a>
                <ul class="treeview-menu">
                    <li class="treeview"><a href="#"><i class="fa fa-circle-o"></i> Atlantic<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> BOS</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> BUF</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> DET</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> FLA</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> MTL</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> OTT</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> TBL</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> TOR</a></li>
                        </ul>
                    </li>
                    <li class="treeview"><a href="#"><i class="fa fa-circle-o"></i> Metropolitan<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> CAR</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> CBJ</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> NJD</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> NYI</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> NYR</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> PHI</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> PIT</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> WSH</a></li>
                        </ul>
                    </li>
                    <li class="treeview"><a href="#"><i class="fa fa-circle-o"></i> Central<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> CHI</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> COL</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> DAL</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> MIN</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> NSH</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> STL</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> WPG</a></li>
                        </ul>
                    </li>
                    <li class="treeview"><a href="#"><i class="fa fa-circle-o"></i> Pacific<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> ANA</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> ARI</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> CGY</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> EDM</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> LAK</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> SJS</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> VAN</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> VGK</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-male"></i> <span>Players</span></a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-table"></i><span>Raw Stats</span></a></li>
                    <li><a href="#"><i class="fa fa-pie-chart"></i><span>Formated Stats</span></a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>